<body>
    <div class="first-container">
      <div class="nav-container">
        <div class="nav-row">
            <div class="nav-logo">
              <a href="/">
                OnlySurf
              </a>
            </div>
            <div class="nav-controls">
                <a href="/login">beaches</a>
                <a href="/signup">add beach</a>
            </div>
        </div>
      </div>
    </div>

  </body>