
  
  <body>
    <div class="first-container">
      <div class="nav-container">
        <div class="nav-row">
            <div class="nav-logo">
              <a href="/">
                OnlySurf
              </a>
            </div>
            <div class="nav-controls">
                <a href="/user/<%=oneUser%>">welcome</a>
                <a href="/beach">beaches</a>
                <a href="/beach/new">add beach</a>

                <!-- <a href="/user/profile/<%=oneUser%>">settings</a> -->
                <a href="/logout">log out</a>
            </div>
        </div>
      </div>
    </div>
  </body>