<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlySurf</title>
</head>

<link rel="stylesheet" href="css/homepage.css">


<video id="video-bg" poster="../img/beach.png" preload autoplay muted loop>
  <source src="../vid/surfing-waves-at-waikiki-beach-4-k-ZHS6WXS.mov" type="video/mp4">
</video>

<div class="hero">
  <!-- <h1>your.</h1>
  <h1>surf.</h1> -->
  <h1>OnlySurf</h1>
  <p class="light">Your custom surf report source.
  <br>View accurate surf conditions at any location.<br>
  Use OnlySurf to catch the best waves of your life.</p>

  <button class="button-new"><a class="new" href="/signup">SIGN UP</a></button> 
  
  <button class="button-new"><a class="new" href="/login">LOG IN</a></button>
</div>


</body>

</html>