<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlySurf</title>
</head>



<link rel="stylesheet" href="css/homepage.css">

<link rel="stylesheet/less" type="text/css" href="../css/nav.less" />
<script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>


<video id="video-bg" poster="../img/beach.png" preload autoplay muted loop>
  <source src="./vid/beachvid.mp4" type="video/mp4">
</video>

<div class="hero">
  <!-- <h1>your.</h1>
  <h1>surf.</h1> -->
  <h1>OnlySurf</h1>
  <p class="text">
  Catch the best waves of your life with OnlySurf<br>
  Search for accurate surf conditions at any location.</p>

  <button class="button-new"><a class="new" href="/signup">SIGN UP</a></button> 
  
  <button class="button-new"><a class="new" href="/login">LOG IN</a></button>
</div>


</body>

</html>