
  .action {
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 4px;

  }
 
  .button-sign {
      width: 100%;
      border: none;
      padding: 18px;
      cursor: pointer;
      text-transform: uppercase;
      background: #548a94;
      color: #FFEEEF;
      letter-spacing: 0.2px;
      outline: 0;
      transition: all .3s;
      border-radius: 0px 0px 10px 0px;
      }

      .button {
        width: 100%;
        border: none;
        padding: 18px;
        cursor: pointer;
        text-transform: uppercase;
        background: #548a94;
        color: #FFEEEF;
        letter-spacing: 0.2px;
        outline: 0;
        transition: all .3s;
        }

      #btn-sign-up {
        background: #ecece8;
        color: #777;
        border-radius: 0px 0px 10px 10px;

      }

      #btn-sign-up:hover {
        background: white;
        color:#548a94;
      }

      #btn-log-in:hover {
        background: white;
        color:#548a94;
      }


      p {
        padding-left: 18px;
        font-weight: light;
        color: rgb(74, 74, 74);
        line-height: 20px;

      }

      .signup-form-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height:335px;
        display: flex;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        /* border-radius: 10px; */
        opacity:.9;
        justify-content: center;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
    }


/*  MEDIA QUERY, CELL */
    @media (max-width: 480px) {
      .signup-form-wrapper {
        width: 100vw;
        height: 500px;
        justify-content: center;
        top:50%;
        left:50%;
      }
    }
      @media (max-width: 480px) {
      .signup-form-wrapper2 {
        width: 100vw;
        height: 500px;
        justify-content: center;
        top:50%;
        left:50%;
      } 
    }

    .signup-form-wrapper2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height:432px;
      display: flex;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
      
      opacity:.9;
      justify-content: center;
      mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
      -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
  }



  .button {
    letter-spacing: 0;
}

