<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlySurf</title>

    <!-- NOT SHOWING ON LIFE SITE -->

</head>
<%- include('../../partials/navbar.ejs') %>
    <body>
        <h1 class="title">hi, <%= singleUser.userName %>.</h1>
    </body>
</html>